

   <div class="row">
      <div class="col-md-7 col-sm-12 col-lg-8" id="editorHolder" >
         <textarea id="code-screen">{{content}}</textarea>
      </div>
      <div class="col-md-5 col-sm-12 col-lg-4" id="chatBox">
         <div class="card card-primary">
            <div class="card-block">
               <!-- ChatBox -->
               {{!-- <span class="pull-right" id="chatBox-username"> --}}
                  {{#if user}}
                     Hello, {{user.name}}<hr/>
                  {{/if}}
               {{!-- </span> --}}
            </div>
            <div class="card-body">
               <ul class="list-unstyled" style="overflow-y: scroll" id="chatBox-listMessages">

               </ul>

            </div>
            <div class="card-footer" style="position:relative; bottom: 0;">
               <div class="input-group">
                  <input class="form-control" type="text" placeholder="" id="userMessage"/>

                     <button class="btn btn-success" type="submit" onclick="sendMessage()">></button>


               </div>

            </div>

         </div>
      </div>



   </div>






<input type="hidden" value="{{roomId}}" id="roomId" />
<script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.34.0/codemirror.min.js'></script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.34.0/mode/javascript/javascript.min.js'></script>

<script src="/plugins/ot/ot.js"></script>

<script src='/socket.io/socket.io.js'></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>
   var EditorClient = ot.EditorClient;
   var SocketIOAdapter = ot.SocketIOAdapter;
   var CodeMirrorAdapter = ot.CodeMirrorAdapter;
   var socket = io.connect('http://localhost:3000');
   var editor = CodeMirror.fromTextArea(document.getElementById("code-screen"), {
      lineNumbers: true,
      theme: 'monokai'

   });
   var code = $('#code-screen').val();
   var cmClient;
   function init(str, revision, clients, serverAdapter) {
     if(!code){
       editor.setValue(str);
     }
     cmClient = window.cmClient = new EditorClient(
       revision, clients, serverAdapter, new CodeMirrorAdapter(editor)
     );
   };

   socket.on('doc', function(obj) {
     init(obj.str, obj.revision, obj.clients, new SocketIOAdapter(socket));
   });

   var username = $("#chatBox-username").val();
   if(username === "") {
      var userId = Math.floor(Math.random() * 9999).toString();
      username = "User" + userId;
      $("#chatbox-username").text(username);
   }

   var roomId = $('#roomId').val();
   socket.emit('joinRoom', {room: roomId, username: username});

   function userMessage(name,text) {
      return (
         `
         <li class="media">
            <div class="media-body">
               <div class="media">
                  <div class="media-body">
                     <b>${name}</b>: ${text}
                     <hr/>

                  </div>
               </div>
            </div>
         </li>
         `
      )
   }

   function sendMessage() {
      var userMessage = $('#userMessage').val();
      socket.emit('chatMessage', {message: userMessage, username: username});
      $('#userMessage').val("");
   }

   socket.on('chatMessage', function(data) {
      $('#chatBox-listMessages').append(userMessage(data.username, data.message));
   })


</script>
