body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.form-signin {
   max-width: 500px;
   margin: 0 auto;
}

#chatBox {
   /* border: 2px dashed black; */
}

/* #code-screen {
  height: 95vh;
} */

.CodeMirror {
  height: 85vh !important;
}
.card-body {
  overflow-y: scroll;
  height: 70vh;
  padding-bottom: 0;
}

@media (max-width: 768px)  {
  .CodeMirror {
    height: 50vh !important;
  }
  .card-body {
    height: 20vh;
  }
}
